
body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
  }
  h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }  
  h1{
    text-transform: uppercase;
  }
  
  .navbar {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }




.text-section{
	font-size: 150%;
}

.big{
	font-size: 200%;
}
#extra{
	background-color: #191C2A;
}
.white-text{
	color: white;
}
.column-header{
	color: red;
	text-align: center;
}
.red{
	color: red;
}
.ul-no-style{
	list-style: none;
	padding: 0;
}
.greyed{
	font-weight: bold;
	opacity: 0.7;
	color:white;
	background-color: grey;
}
.uppercase{
	text-transform: uppercase;
}
.navbar-toggle{
	background-color: white;
}
#myNavbar{
	margin-top: 25px;
}
.navbar-brand{
	margin-top: 15px;
}
.title-logo{
  height: 100px;
  display: inline-block;
}
.larger {
    color: #1CBD24;
    font-size: 200px;
}

#online-button{
  padding: 12px 24px;
  font-size: 125%;
  margin-top: 15px;
}

@media screen and (max-width: 480px) {
    .larger {
        font-size: 150px;
    }
}
